.foto-capçalera {
    width: 15%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    opacity: 0; /* Inicialment invisible */
    transform: translateX(-100vw); /* Comença totalment fora de la pantalla (esquerra) */
    transition: opacity 1s ease-out, transform 1s ease-out;
}

/* Quan la classe "visible" s'afegeixi, la imatge es mourà al centre */
.foto-capçalera.visible {
    opacity: 1;
    transform: translateX(0);
}

.foto-capçalera img {
    width: 100%;
    height: 100%;
}

.titol-principal {
    color: #3E6606;
    text-decoration: underline;
    padding: 2%;
    font-size: 30px;
}

/* Apartat del formulari */
/* Contenidor principal del formulari */
.contacte-formulari {
    padding: 2%;
    border-radius: 15px;
    background-color: #53870a;
    color: white;
    width: 50%;  /* Fes-lo més estret */
    margin: 0 auto;  /* Centra'l horitzontalment */
    font-size: 25px;
}

/* Ajust del formulari */
#formulari {
    display: flex;
    flex-direction: column;
    align-items: start;
    width: 100%;
}

/* Ajust dels inputs */
#formulari input, #formulari textarea {
    width: 100%; 
    margin-bottom: 10px;  
    font-size: 35px;
}

/* Button */
.enviar {
    background-color: #5e931400;
    width: 60%;
    color: white;
    border: 1px solid white;
    border-radius: 5px;
    font-size: 75%;
    display: flex;
    align-items: center;
    justify-content: center;
    align-self: center;
    padding: 10px 20px;
}


/* Button animació (hover) */
.enviar:hover{
    color: white;
    border: 1px solid white;
    background-color:   #6aad0c;
    border-radius: 5px;
    font-size: 75%;
    cursor: pointer;
}   

