/* Contenidor principal */
.main{
    padding: 2%;
}

/* Titol principal de la pàgina */
.titol-principal{
    color: #3E6606;
    text-decoration: underline;
}

.contingut{
    display: flex;
    gap: 15px;
}
